body {
  margin: 0;
  background: linear-gradient(to left top, rgb(165, 165, 165), rgb(74, 74, 75));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Courier, monospace;
  color: darkcyan;
}
.container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 30%;
  min-width: 450px;
  color: black;
}
h1 {
  text-align: center;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700px;
}
.input {
  padding: 10px;
  width: 70%;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  border-radius: 10px;
  color: darkgreen;
  outline: none;
}
.error {
  color: red;
}
