body {
  margin: 0px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: darkslateblue;
  font-family: cursive;
}
.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
}
.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border: 4px solid darkslateblue;
  color: green;
  border-radius: 10px;
  outline: none;
}
.input::placeholder {
  color: lightgray;
  font-family: cursive;
}
.btn {
  background-color: darkslateblue;
  color: white;
  display: block;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover {
  filter: brightness(0.9);
}
.score {
  color: darkslateblue;
  font-size: 20px;
  text-align: right;
}
