body {
  margin: 0px;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
  text-align: center;
  transition: filter 1s;
  /* display: none; */
}
.active.container {
  filter: blur(5px) brightness(0.5);
}

h1 {
  font-size: 60px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.btn {
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.popupContainer {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  background-color: white;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: darkslateblue;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.7s;
}
h4 {
  font-size: 30px;
  margin: 10px 0;
  font-family: sans-serif;
  color: white;
}
label {
  color: white;
  font-family: sans-serif;
}
.popupBtn {
  background-color: lightgray;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.input {
  border: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}
.input::placeholder {
  color: lightgray;
  text-align: left;
}
.closeIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: white;
}
.closeIcon:hover {
  color: lightgray;
}
.popupContainer.active {
  visibility: hidden;
  opacity: 0;
  top: 10%;
}
